div .btn-area {
    margin-top: 20px;
}

div .reg-header {
    margin-top: 20px;
    margin-bottom: 20px;
}
input:focus{
    border-right: 5px solid #4cae4c;
}
/*.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; !* green *!
}
.ng-invalid[required]:not(form)  {
    border-left: 5px solid #a94442; !* red *!
}*/

.phone_number  .col-code{
    padding-right: 1px;
}
.phone_number  .col-number{
    padding-left: 1px;
}
