<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <beans profile="!test">
        <bean lazy-init="false" class="com.config.CustomTomcatContainerFactory">
        </bean>
        <jee:jndi-lookup id="authDataSource"
          jndi-name="java:comp/env/jdbc/auth-ds" lookup-on-startup="false"
          expected-type="javax.sql.DataSource" />

       <!-- <bean id="authDataSource" lazy-init="true"  class="org.springframework.jndi.JndiObjectFactoryBean">
            <property name="jndiName" value="java:comp/env/jdbc/auth-ds" />
        </bean>-->
    </beans>
    <beans>
        <bean id="persistenceProvider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
        <bean id="entityManagerFactory"
              class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
            <property name="dataSource" ref="authDataSource"/>
            <!-- Set base package of your entities -->
            <property name="packagesToScan" value="com.model.entity.*"/>
            <property name="persistenceXmlLocation" value="classpath:persistence.xml"/>
            <property name="persistenceProvider" ref="persistenceProvider"/>
            <property name="persistenceUnitName" value="default"/>
        </bean>
        <bean id="transactionManager"
              class="org.springframework.orm.jpa.JpaTransactionManager">
            <property name="entityManagerFactory" ref="entityManagerFactory"/>
        </bean>

        <!-- Enable annotation driven transaction management -->
        <tx:annotation-driven/>

        <!--
          Configure Spring Data JPA and set the base package of the
          repository interfaces
        -->
        <jpa:repositories base-package="com.dao"/>

    </beans>
</beans>