<div>
    <div>
        <legend>Password recovery</legend>

    </div>
    <server-error></server-error>
    <div *ngIf ="submitted && !notFound" class="panel panel-default">
        <div class="panel-body">
            <p> Email to recover password has been sent.</p>
            <div> Please, check your mail box to set new password. </div>
        </div>
    </div>

    <div *ngIf ="notFound" class="panel panel-default text-danger">
        <div class="panel-body">
            <div> Sorry, user with username {{username}} was not found. </div>
        </div>
    </div>

    <div>
        <div class="container">
            <p> Please, enter your username. </p>
        </div>
        <form class="form-horizontal" (submit) = "submit()">
            <fieldset>
                <div class="container">
                    <div class="row justify-content-start ">
                        <div class="col-sm-6">
                            <extended-input [isError]="login.errors && (login.dirty || login.touched)" [labelText]="'Username'">
                                <input  [(ngModel)]="username" #login="ngModel" type="text" id="username"
                                       name="username" placeholder="" class="form-control" required >
                            </extended-input>
                        </div>
                    </div>
                    <div class="controls btn-area">
                        <button  [ngClass]="{
                            'btn': true, 'btn-success': !login.errors || !login.touched,
                            'btn-default': login.errors && login.touched
                            }">
                            Recover
                        </button>
                    </div>

                </div>
            </fieldset>
        </form>
    </div>

</div>